body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #fde719;
  font-family: "Star Wars", sans-serif;
}

input[type="file"] {
  display: block;
  margin: 50px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

input[type="file"]:hover {
  background-color: #555;
}

.file-title {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  text-shadow: 3px 3px #aaa;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

button {
  display: block;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffb900;
  border-radius: 10px;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffea6a;
}

.result {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 2px;
}

.file-loaded {
  text-align: center;
  font-size: 1.5rem;
}
